:root {
  --player-one: #043c5a;
  --player-two: #e52a21;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #254336;
  color: #dad3be;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.board-container {
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.board {
  display: grid;
  height: 500px;
  width: 100%;
  max-width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid #6b8a7a;
  gap: 2px;
  padding: 2px;
  background-color: #b7b597;
}

.cell {
  color: #254336;
  background: #dad3be;
  font-size: 3rem;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

.game-result {
  text-align: center;
}

.play-again-btn {
  color: #254336;
  background-color: #b7b597;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.play-again-btn:hover {
  opacity: 0.75;
}

.player-one {
  color: var(--player-one);
}

.player-two {
  color: var(--player-two);
}
